# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual environment
# =========================
venv/
.env/
.env.*
env/
# =========================
# Django
# =========================
*.log
db.sqlite3
db.sqlite3-journal

# media (загружаемые файлы)
media/

# static (если собираешь collectstatic)
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.dev
.env.prod

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / coverage
# =========================
htmlcov/
.coverage
.coverage.*
.cache
pytest_cache/

# =========================
# Migrations (опционально!)
# =========================
# Обычно НЕ игнорируют, но если хочешь:
# */migrations/*
# !*/migrations/__init__.py

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Node (если вдруг добавишь фронт)
# =========================
node_modules/

# =========================
# Backup files
# =========================
*.bak
*.backup

# =========================
# PyCharm
# =========================
*.iml

# =========================
# Ruff / lint cache
# =========================
.ruff_cache/
