Django==5.1.1
psycopg2-binary
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.1
python-dateutil==2.9.0.post0
django-debug-toolbar==4.2.0
pytest
flake8
isort
ipython
django-extensions
Pillow
django-bootstrap5==24.2
